In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
%run sentiment.py

In [2]:
review = pd.read_csv("yelp_toronto_review.csv")

In [3]:
review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 474803 entries, 0 to 474802
Data columns (total 9 columns):
review_id      474803 non-null object
user_id        474803 non-null object
business_id    474803 non-null object
stars          474803 non-null int64
date           474803 non-null object
text           474803 non-null object
useful         474803 non-null int64
funny          474803 non-null int64
cool           474803 non-null int64
dtypes: int64(4), object(5)
memory usage: 32.6+ MB

In [4]:
review.head()

,review_id,user_id,business_id,stars,date,text,useful,funny,cool
0,kS4hrhEScwB9V5JATYjvVQ,hxqo4NyJFfeOmuoVi--s1A,f5O7v_X_jCg2itqacRfxhg,5,2017-10-12,Sansotei serves some top notch ramen. They tak...,0,0,0
1,YDJDfKnx6VpMMo4EBxycGg,FCtoTo9zSH1cSAkascfEHw,7xA6iSP0Ndn08tpBFQtUKA,1,2017-05-22,Non-existened service! The waiter did not eve...,0,0,0
2,2Hk7DNwu3rb2jKHaFfPyCA,YHWsLBS8jzZiPjKHMFOaAA,SmizR7MLt-558FJJQRBBoQ,4,2011-06-01,It might be a bit unfair to review Globe so ea...,1,1,1
3,D2TcNaPqXxDGQ6T0n-vHXw,YHWsLBS8jzZiPjKHMFOaAA,iKMLsX1Je7P3wAOEc9scDg,4,2011-11-07,I have been itching to get to Origin for month...,4,0,0
4,Vtd6Tqm7YMfRTBFLtZIoOQ,YHWsLBS8jzZiPjKHMFOaAA,qhJ4GDULYbdb_sctDgbZgw,2,2011-08-20,"Alright, alright, so as it turns out I sometim...",0,0,0

In [5]:
#Initialize function for sentiment score
s = SentimentAnalysis(filename='SentiWordNet.txt',weighting='geometric')

In [6]:
review['senti_score'] = review.text.iloc[:].apply(lambda x: s.score(x))

In [8]:
review.tail()

,review_id,user_id,business_id,stars,date,text,useful,funny,cool,senti_score
474798,9YrHtJcAhC6ZNuzp6SGc9w,uDGQYAIUSne3LKKhTAvKLg,WbS58nfQQZaxWk1BUPBuJQ,4,2017-07-07,Delicious food with many healthy options to ch...,0,0,0,0.078622
474799,jQ0UKnDQUYpRQoJRrzo5Mw,uDGQYAIUSne3LKKhTAvKLg,hGBdtLUHanbw6rMRoMxUSQ,5,2017-07-07,I have never had a hair cut from the person wh...,0,0,0,0.004472
474800,Rw1bWfW2UQ3hXQjWY5TKgQ,uDGQYAIUSne3LKKhTAvKLg,XF7cEaCGuPkt1yuz77jeTQ,5,2018-05-27,A few years back I visited the location on Law...,0,0,0,0.053588
474801,tq2d5d78ig42XH8CFLKULQ,uDGQYAIUSne3LKKhTAvKLg,aLcFhMe6DDJ430zelCpd2A,4,2015-10-01,"On the plus side: Excellent Thai food, good fl...",0,0,0,0.043007
474802,ulyWlcLQ9CYleyh8lYOKVw,LOUrYMvz-R0YPr0E80gk1A,abIF7pw1Hyu-eVW3LwNhyg,1,2016-02-29,I must admit i have had very bad experience he...,0,0,1,-0.046131

In [10]:
review.to_csv('yelp_reviews_sentiment.csv', index=False)

In [11]:
review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 474803 entries, 0 to 474802
Data columns (total 10 columns):
review_id      474803 non-null object
user_id        474803 non-null object
business_id    474803 non-null object
stars          474803 non-null int64
date           474803 non-null object
text           474803 non-null object
useful         474803 non-null int64
funny          474803 non-null int64
cool           474803 non-null int64
senti_score    100000 non-null float64
dtypes: float64(1), int64(4), object(5)
memory usage: 36.2+ MB

In [6]:
df = pd.read_csv('yelp_reviews_sentiment.csv')

In [7]:
df.head()

,review_id,user_id,business_id,stars,date,text,useful,funny,cool,senti_score
0,kS4hrhEScwB9V5JATYjvVQ,hxqo4NyJFfeOmuoVi--s1A,f5O7v_X_jCg2itqacRfxhg,5,2017-10-12,Sansotei serves some top notch ramen. They tak...,0,0,0,-0.003640
1,YDJDfKnx6VpMMo4EBxycGg,FCtoTo9zSH1cSAkascfEHw,7xA6iSP0Ndn08tpBFQtUKA,1,2017-05-22,Non-existened service! The waiter did not eve...,0,0,0,-0.031863
2,2Hk7DNwu3rb2jKHaFfPyCA,YHWsLBS8jzZiPjKHMFOaAA,SmizR7MLt-558FJJQRBBoQ,4,2011-06-01,It might be a bit unfair to review Globe so ea...,1,1,1,0.027306
3,D2TcNaPqXxDGQ6T0n-vHXw,YHWsLBS8jzZiPjKHMFOaAA,iKMLsX1Je7P3wAOEc9scDg,4,2011-11-07,I have been itching to get to Origin for month...,4,0,0,0.015458
4,Vtd6Tqm7YMfRTBFLtZIoOQ,YHWsLBS8jzZiPjKHMFOaAA,qhJ4GDULYbdb_sctDgbZgw,2,2011-08-20,"Alright, alright, so as it turns out I sometim...",0,0,0,0.008468